# Global ignores for monorepo
**/node_modules/
**/.expo/
**/.expo-shared/
**/.next/
**/dist/
**/build/
**/.cxx/
**/.gradle/
**/ios/build/
**/android/app/release/
**/android/local.properties
**/*.log
.DS_Store
thumbs.db

**/.git_backup/

android/build/
android/.gradle/
android/app/build/
ios/
